
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(214, 108, 38, 0.402);
}

.left {
  width: 30%;
  justify-content: center;
  align-items: center;
}

.right {
  width: 50%;
}

.container {
  display: flex;
  width: 100%;
  gap: 50px;
}

.top {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 100px;
}

.grey {
  background-color: gray;
}

.submit {
  margin-left: 90px;
}

li {
  display: flex;
  justify-content: space-between;
  background-color: rgba(214, 108, 38, 0.402);
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
}

.list {
  background-color: rgba(171, 178, 165, 0.588);
  border: 5px solid black;
  margin-left: 80px;
  color: black;
  font-weight: 900;
  max-height: 40vh;
  overflow-y: auto;
}

header {
  margin-left: 40px;
  font-size: xx-large;
}

article h3 {
  font-size: x-large;
}

button {
  color: white;
  border: none;
  background-color: rgb(60, 57, 57);
  cursor: pointer;
  padding: 8px;
}

button:hover {
  box-shadow: 5px 3px #888;
}

.refresh {
  margin-left: 10px;
}

input {
  border: 2px solid black;
  padding: 10px;
}
